Repository SSAFYnity/Job-Preparation-Challenge-2nd, pull requests merged in 2024-10, with the labels that each got.

#308 unsolved 카잉달력-236ms,18492kb
  Baekjoon/카잉달력/카잉달력_전수민.java
Labels: Java, Hard

#344 unsolved 사라지는 발판 -16.98ms,80.6mb
  Programmers/사라지는발판/사라지는발판_전수민.java
  Programmers/행렬테두리회전하기/행렬 테두리 회전하기_전수민.java
Labels: Java, Hard

#333 solved 카잉달력 - 1736ms 31120kb
  Baekjoon/카잉달력/카잉달력_박단비.py
Labels: Python, Hard

#323 solved 극장좌석 - 32ms 31120kb
  Baekjoon/극장좌석/극장좌석_박단비.py
Labels: Python, Nomal

#275 solved 오르막수 - 36ms 31120kb
  Baekjoon/오르막수/오르막수_박단비.py
Labels: Python, Easy

#261 solved 미로탐색 - 72ms 34044kb
  Baekjoon/미로탐색/미로탐색_박단비.py
Labels: Python, Easy

#234 solved 상어초등학교 - 252ms 31120kb
  Baekjoon/상어초등학교/상어초등학교_박단비.py
Labels: Python, Hard

#219 solved 최소비용구하기 - 332ms 58396kb
  Baekjoon/최소비용구하기/최소비용구하기_박단비.py
Labels: Python, Nomal

#183 solved 석유시추 - 302.44ms 14.6mb
  Programmers/석유시추/석유시추_박단비.py
Labels: Python, Nomal

#164 solved 적록색약- 72ms 34136kb
  Baekjoon/적록색약/적록색약_박단비.py
Labels: Python, Easy

#302 solved 극장좌석 - 92ms 12844kb
  Baekjoon/극장좌석/극장좌석_강민정.java
Labels: Java, Easy

#310 solved 튜브의소개팅 - 84.82ms 97.8mb
  Programmers/튜브의소개팅/튜브의소개팅_강민정.java
Labels: Java, Nomal

#335 solved N으로표현 - 16.85ms 84.7mb
  Programmers/N으로표현/N으로표현_강민정.java
Labels: Java, Nomal

#343 solved 선입선출스케줄링 - 6.18ms 53.1mb
  Programmers/선입선출스케줄링/선입선출스케줄링_강민정.java
Labels: Java, Nomal

#345 solved 사라지는발판 - 15.67ms 77.8mb
  Programmers/사라지는발판/사라지는발판_강민정.java
Labels: Java, Hard

#23 solved 행렬테두리회전하기 - 14.26ms 103mb
  Baekjoon/행렬테두리회전하기/행렬테두리회전하기_강수민.java
Labels: Java, Easy

#53 solved RGB거리 - 112ms 14.604mb
  Baekjoon/RGB거리/RGB거리_강수민.java
Labels: Java, Easy

#105 solved n2배열자르기 - 3.07ms 94.3mb
  Baekjoon/n2배열자르기/n2배열자르기_강수민.java
Labels: Java, Easy

#120 solved 팩토리얼과최대공약수 - 113ms 18,352mb
  Baekjoon/팩토리얼과최대공약수/팩토리얼과최대공약수_강수민.java
Labels: Java, Hard

#153 solved 석유시추 - 59.46ms 83.mb
  Programmers/석유시추/석유시추_강수민.java
Labels: Java, Easy

#177 solved 색깔트리 - 1717ms 90mb
  CodeTree/색깔트리/색깔트리_강수민.java
Labels: Java, Hard

#204 solved 적록색약 - 164ms 16.516mb
  Baekjoon/적록색약/적록색약_강수민.java
Labels: Java, Easy

#218 solved 최소비용구하기 - 472ms 53.004mb
  Baekjoon/최소비용구하기/최소비용구하기_강수민.java
Labels: Java, Easy

#228 solved 상어초등학교 - 156ms 17.372mb
  Baekjoon/상어초등학교/상어초등학교_강수민.java
Labels: Java, Nomal

#262 solved 미로탐색 - 132ms 14,472mb
  Baekjoon/미로탐색/미로탐색_강수민.java
Labels: Java, Easy

#266 solved 오르막수 - 104ms 14.272mb
  Baekjoon/오르막수/오르막수_강수민.java
Labels: Java, Nomal

#309 solved 카잉달력 - 404ms 20.724mb
  Baekjoon/카잉달력/카잉달력_강수민.java
Labels: Java, Easy

#325 solved 선입선출스케줄링 - 8.02ms 89.4mb
  Programmers/선입선출스케줄링/선입선출스케줄링_강수민.java
Labels: Java, Hard

#327 solved N으로표현 - 24.14ms 85.3mb
  Programmers/N으로표현/N으로표현_강수민.java
Labels: Java, Nomal

#338 unsolved 사라지는발판 - 27.28ms 94.3mb
  Programmers/사라지는발판/사라지는발판_강수민.java
Labels: Java, Hard
