Repository SSAFYnity/Job-Preparation-Challenge-2nd, pull requests merged in 2024-09, with the labels that each got.

#50 solved 행렬테두리회전하기
  Programmers/행렬테두리회전하기/행렬 테두리 회전하기.cpp
Labels: C++, Nomal

#103 solved n^2 배열 자르기
  Programmers/금세현_n^2 배열 자르기.java
Labels: Java, Easy

#27 solved RGB거리 - 76ms 12084kb
  Baekjoon/RGB거리/RGB거리_최재성.java
Labels: Java, Nomal

#62 solved 팩토리얼과최대공약수 - 104 ms 18228KB
  Baekjoon/팩토리얼과최대공약수/팩토리얼과최대공약수_최재성.java
Labels: Java, Easy

#61 solved 소수부분문자열 - 72ms 12400KB
  Baekjoon/소수부분문자열/소수부분문자열_최재성.java
Labels: Java, Easy

#60 solved 행렬테두리회전하기 - 50.98ms 102MB
  Baekjoon/행렬테두리회전하기/행렬테두리회전하기_최재성.java
Labels: Java, Easy

#48 solved n2배열자르기 - 6.45ms 116MB
  Baekjoon/n2배열자르기/n2배열자르기_최재성.java
Labels: Java, Nomal

#10 solved RGB거리 - 0ms 2044kb
  Baekjoon/RGB거리/여동훈_RGB거리.cpp
Labels: C++, Easy

#39 solved 소수부분문자열 - 0ms 2416kb
  Baekjoon/소수부분문자열/소수부분문자열_여동훈.cpp
Labels: C++, Easy

#64 solved 팩토리얼과최대공약수-8ms 13376kb
  SWEA/팩토리얼과최대공약수/팩토리얼과최대공약수_여동훈.cpp
Labels: C++, Nomal

#151 solved 적록색약-0ms 2068kb
  Baekjoon/적록색약/적록색약_여동훈.cpp
Labels: C++, Easy

#115 solved 팩토리얼과최대공약수 - 1325ms 21872KB
  SWEA/팩토리얼과최대공약수_안창호.java
Labels: Java, Nomal

#21 solved RGB거리 - 112ms 14532KB
  Baekjoon/RGB거리_안창호.java
Labels: Java, Nomal

#156 solved 팩토리얼과최대공약수 - 1325ms 21872KB
  SWEA/팩토리얼과최대공약수/팩토리얼과최대공약수_안창호.java
Labels: Java

#102 solved n2배열자르기 - 9ms 111MB
  Programmers/n^2배열자르기/n^2배열자르기.java
Labels: Java, Easy

#49 solved 소수부분문자열 - 96ms 13976KB
  Baekjoon/소수부분문자열/소수부분문자열_안창호.java
Labels: Java, Easy

#75 solved 행렬테두리회전하기 - 10.44ms 83.4MB
  Programmers/행렬테두리회전하기/행렬테두리회전하기_안창호.java
Labels: Java, Nomal

#43 solved RGB거리 - 116ms 14.552mb
  Baekjoon/RGB거리_이병수.java
Labels: Java, Nomal

#161 solved n^2배열자르기 - 8.41ms 110MB
  Programmers/n^2배열자르기_이병수.java
Labels: Java, Nomal

#131 solved 행렬 테두리 회전하기 - 12.70ms 96.2mb
  Programmers/행렬테두리회전하기_신유진.java
Labels: Java, Nomal

#24 solved RGB거리 - 36ms 31120kb
  Baekjoon/RGB거리_박단비.py
Labels: Python, Nomal

#20 unsolved 팩토리얼과최대공약수
  SWEA/팩토리얼과최대공약수_서민주.java
Labels: Java, Nomal

#54 solved RGB거리 - 112ms 14580kb
  Baekjoon/RGB거리_서민주.java
Labels: Java, Easy

#73 solved 행렬테두리회전하기 - 19.54ms 92.4mb
  Baekjoon/서민주_행렬테두리회전하기.java
Labels: Java, Nomal

#85 solved 소수부분문자열 - 108ms 14576kb
  Baekjoon/소수부분문자열_서민주.java
Labels: Java, Easy

#90 solved 소수 부분 문자열 - 60ms 11.444mb
  Baekjoon/소수부분문자열_옥수빈.java
Labels: Java, Easy

#117 solved n^2 배열 자르기 - 8.33ms 112mb
  Programmers/n^2배열자르기_옥수빈.java
Labels: Java, Easy

#166 solved 가운데를말해요 - 988ms 38224kb
  Baekjoon/RGB거리/RGB거리_서민주.java
  Baekjoon/가운데를말해요/가운데를말해요_서민주.java
  Baekjoon/소수부분문자열/소수부분문자열_서민주.java
  Baekjoon/행렬테두리회전하기/행렬테두리회전하기_서민주.java
  Programmers/n^2배열자르기/n^2배열자르기_서민주.java
  SWEA/팩토리얼과최대공약수/팩토리얼과최대공약수_서민주.java
Labels: Java, Hard

#26 solved 소수부분문자열 - 0ms 2mb
  Baekjoon/소수부분문자열/소수부분문자열_조은영.cpp
Labels: C++, Nomal

#56 solved RGB거리 - 136ms 14mb
  Baekjoon/RGB거리_조은영.java
Labels: Java, Nomal

#78 solved n2배열자르기 - 28ms 22mb
  Programmers/n^2배열자르기_조은영.cpp
Labels: C++, Easy

#107 solved 팩토리얼과최대공약수 - 7ms 13mb
  SWEA/팩토리얼과최대공약수_조은영.cpp
Labels: C++, Nomal

#70 solved 행렬테두리회전하기 - 29.05ms, 95.2MB
  Programmers/행렬테두리회전하기_이병수.java
Labels: Java, Nomal

#29 solved 행렬테두리회전하기 - 3.70ms 7.18mb
  Programmers/행렬테두리회전하기_조유빈.cpp
Labels: C++, Nomal

#40 solved n2배열자르기 - 44.21ms 24mb
  Programmers/n2배열자르기_조유빈.cpp
Labels: C++, Hard

#69 solved RGB거리 - 0ms 2020kb
  Baekjoon/RGB거리_조유빈.cpp
Labels: C++, Nomal

#88 solved 소수부분문자열 - 4ms 2420kb
  Baekjoon/소수부분문자열_조유빈.cpp
Labels: C++, Nomal

#124 solved 팩토리얼과최대공약수 - 1s 256mb
  SWEA/팩토리얼과최대공약수_조유빈.cpp
Labels: C++, Hard

#17 solved n2배열자르기 - 8.72ms 106mb
  Programmers/n2배열자르기_박대화.java
Labels: Java, Easy

#46 solved RGB거리 - 104ms 14mb
  Baekjoon/RGB거리_박대화.java
Labels: Java, Nomal

#72 solved 행렬테두리회전하기 - 34.99ms 90mb
  Programmers/행렬테두리회전하기_박대화.java
Labels: Java, Easy

#95 solved 소수부분문자열 - 100ms 14mb
  Baekjoon/소수부분문자열_박대화.java
Labels: Java, Nomal

#16 solved 행렬테두리회전하기 - 242.68ms 12.1mb
  Programmers/행렬테두리회전하기/행렬테두리회전하기_심재원.py
Labels: Python, Easy

#66 solved n^2배열자르기 - 19.04ms 19.4mb
  Programmers/n^2배열자르기/n^2배열자르기_심재원.py
Labels: Python, Nomal

#94 solved RGB거리 - 56ms 31120kb
  Baekjoon/RGB거리/RGB거리_심재원.py
Labels: Python, Easy

#140 solved 코드트리투어 - 2923ms 86mb
  CodeTree/코드트리투어/코드트리투어_심재원.py
Labels: Python, Hard

#160 solved 택배배달과수거하기 - 410.52ms 11.7mb
  Programmers/택배배달과수거하기/택배배달과수거하기_김수빈.py
Labels: Python, Easy

#186 solved 석유시추 - 88.10ms 75mb
  Baekjoon/RGB거리/RGB거리_김수빈.py
  Baekjoon/RGB거리_김수빈.py
  Baekjoon/소수부분문자열/소수부분문자열_김수빈.py
  Programmers/.idea/.name
  Programmers/.idea/material_theme_project_new.xml
  Programmers/Solution.java
  Programmers/n^2배열자르기/n^2배열자르기_김수빈.py
  Programmers/석유시추/석유시추_김수빈.java
  Programmers/행렬테두리회전하기/행렬테두리자르기_김수빈.java
Labels: Java, Python, Nomal

#192 solved 적록색약 - 120ms 15.756mb
  Baekjoon/적록색약/적록색약_김수빈.java
Labels: Java, Nomal

#97 solved n^2 배열자르기 - 35.42ms 19.3mb
  Programmers/n^2배열자르기_박단비.py
Labels: Python, Easy

#18 solved 행렬테두리회전하기 - 104.08ms, 110MB
  Programmers/행렬테두리회전하기_김지원.java
Labels: Java, Easy

#25 solved 행렬테두리회전하기 - 9.77ms 89.5MB
  Programmers/행렬테두리회전하기_박설.java
Labels: Java, Nomal

#126 solved 행렬 테두리 회전하기 - 242.07ms 12mb
  Programmers/행렬테두리회전하기_박단비.py
Labels: Python, Nomal

#19 solved 행렬 테두리 회전하기 - 14.72ms 99.5MB
  Baekjoon/행렬테두리회전하기/행렬테두리회전하기_박소윤.java
Labels: Java, Easy

#35 solved RGB 거리 - 72ms 12132KB
  Baekjoon/RGB거리/RGB거리_박소윤.java
Labels: Java, Easy

#84 solved 팩토리얼과 최대공약수 - 105ms 18936KB
  SWEA/팩토리얼과최대공약수/팩토리얼과최대공약수_박소윤.java
Labels: Java, Hard

#108 solved n^2 배열 자르기 - 7.97ms 112MB
  Programmers/n^2배열자르기/n^2배열자르기_박소윤.java
Labels: Java, Easy

#128 solved 소수 부분 문자열 - 72ms 12436KB
  Baekjoon/소수부분문자열/소수부분문자열_박소윤.java
Labels: Java, Easy

#12 solved 행렬테두리회전하기 - 15.65ms 82mb
  Programmers/행렬테두리회전하기/행렬테두리회전하기_강민정.java
Labels: Java, Easy

#38 solved n^2배열자르기 - 9.58ms 101mb
  Programmers/n^2배열자르기_강민정.java
Labels: Java, Easy

#76 solved RGB거리 - 72ms 12200kb
  Baekjoon/RGB거리/RGB거리_강민정.java
Labels: Java, Nomal

#98 solved 소수부분문자열 - 88ms 12056kb
  Baekjoon/소수부분문자열/소수부분문자열_강민정.java
Labels: Java, Easy

#116 solved 팩토리얼과최대공약수 - 106ms 18768kb
  Baekjoon/팩토리얼과최대공약수/팩토리얼과최대공약수_강민정.java
Labels: Java, Easy

#239 solved 상어 초등학교 - 204ms 19044KB
  Baekjoon/상어초등학교/상어초등학교_박소윤.java
Labels: Java, Nomal

#235 solved 석유 시추 - 107.81ms 81.9MB
  Programmers/석유시추/석유시추_박소윤.java
Labels: Java, Easy

#243 solved 택배 배달과 수거하기 - 9.21ms 89.2MB
  Programmers/택배배달과수거하기/택배배달과수거하기_박소윤.java
Labels: Java, Nomal

#133 solved 행렬테두리회전하기 - 27.12ms 93.8mb
  Programmers/행렬테두리회전하기/행렬테두리회전하기_허승경.java
Labels: Java, Easy

#134 solved n^2배열자르기 - 6.82ms 103mb
  Programmers/n^2배열자르기/n^2배열자르기_허승경.java
Labels: Java, Nomal

#135 solved RGB거리 - 112ms 14.636mb
  Baekjoon/RGB거리/RGB거리_허승경.java
Labels: Java, Nomal

#136 solved 소수부분문자열 - 144ms 16.392mb
  Baekjoon/소수부분문자열/소수부분문자열 _허승경.java
Labels: Java, Nomal

#137 solved 팩토리얼과최대공약수 - 95ms 18.628mb
  SWEA/팩토리얼과최대공약수/팩토리얼과최대공약수_허승경.java
Labels: Java, Nomal

#158 solved 최소비용구하기 - 424ms 50mb
  Baekjoon/최소비용구하기/최소비용구하기_박대화.java
Labels: Java, Nomal

#182 solved 적록색약 - 140ms 16mb
  Baekjoon/적록색약/적록색약_박대화.java
Labels: Java, Easy

#196 solved 석유시추 - 89ms 77mb
  Programmers/석유시추/석유시추_박대화.java
Labels: Java, Nomal

#122 solved 팩토리얼과최대공약수 - 102ms 19mb
  SWEA/팩토리얼과최대공약수_박대화.java
Labels: Java, Hard

#210 solved 석유시추 - 101.67ms 73.8MB
  Programmers/석유시추/석유시추_이병수.java
Labels: Java, Nomal

#208 solved 택배배달과 수거하기 - 9.14ms 103MB
  Programmers/택배배달과수거하기/택배배달과수거하기_이병수.java
Labels: Java, Hard

#129 solved 소수부분문자열- 116ms,14292kb
  Baekjoon/전수민_소수부분문자열.java
Labels: Java, Nomal

#114 solved RGB거리- 116ms,14688mb
  Baekjoon/RGB거리_전수민.java
Labels: Java, Easy

#89 solved nx2 배열 자르기 - 7.61ms,93.3mb
  Baekjoon/n2배열_자르기.java
Labels: Java, Nomal

#87 solved 행렬 테두리 회전하기-37.33ms,93.2mb
  Programmers/행렬 테두리 회전하기_전수민.java
Labels: Java, Easy

#277 solved 오르막수-100ms,14440kb
  Baekjoon/RGB거리/RGB거리_전수민.java
  Baekjoon/n2배열자르기/n2배열자르기_전수민.java
  Baekjoon/소수부분문자열/전수민_소수부분문자열.java
  Baekjoon/오르막수/오르막수_전수민.java
Labels: Java, Hard

#211 solved 적록색약 2068kb 0ms
  Baekjoon/적록색약/적록색약_조유빈.cpp
Labels: C++, Nomal

#181 solved 택배배달과수거하기 - 9.35ms 9.68mb
  Programmers/택배배달과수거하기/택배배달과수거하기_조유빈.cpp
Labels: C++, Nomal

#254 solved 미로탈출명령어-4.59ms 9.82mb
  Programmers/미로탈출명령어/미로탈출명령어_여동훈.cpp
Labels: C++, Nomal

#216 solved 석유시추-5.24ms 14.1MB
  Programmers/석유시추/석유시추_여동훈.cpp
Labels: C++, Hard

#175 solved 최소비용구하기-96ms 4636kb
  Baekjoon/최소비용구하기/최소비용구하기_여동훈.cpp
Labels: C++, Nomal

#290 solved 외벽점검 - 36.98ms 4.22mb
  Programmers/외벽점검/외벽점검_조유빈.cpp
Labels: C++

#152 solved 가운데를말해요 - 208ms 37.132mb
  Baekjoon/가운데를말해요/가운데를말해요_심재원.py
Labels: Python, Nomal

#197 solved 적록색약 - 52ms 31.12mb
  Baekjoon/적록색약/적록색약_심재원.py
Labels: Python, Easy

#207 solved 석유시추 - 278.69ms 22.2mb
  Programmers/석유시추/석유시추_심재원.py
Labels: Python, Easy

#209 solved 최소비용구하기 - 280ms 57.372mb
  Baekjoon/최소비용구하기/최소비용구하기_심재원.py
Labels: Python, Easy

#256 solved 미로 탐색 - 72ms 34.052mb
  Baekjoon/미로탐색/미로탐색_심재원.py
Labels: Python, Easy

#280 solved 오르막수 - 36ms 31.120mb
  Baekjoon/오르막수/오르막수_심재원.py
Labels: Python, Hard

#267 solved 미로탐색 - 116ms 14.948mb
  Baekjoon/미로탐색/미로탐색_김수빈.java
Labels: Java, Easy

#167 solved 석유시추 - 107.95ms 75.1mb
  Programmers/석유시추/석유시추_강민정.java
Labels: Java, Easy

#185 solved 적록색약 - 80ms 12332kb
  Baekjoon/적록색약/적록색약_강민정.java
Labels: Java, Easy

#194 solved 택배배달과수거하기 - 12.52ms 90.3mb
  Programmers/택배배달과수거하기/택배배달과수거하기_강민정.java
Labels: Java, Easy

#220 solved 최소비용구하기 - 416ms 52012kb
  Baekjoon/최소비용구하기/최소비용구하기_강민정.java
Labels: Java, Nomal

#226 solved 상어초등학교 - 168ms 21300kb
  Baekjoon/상어초등학교/상어초등학교_강민정.java
Labels: Java, Easy

#236 solved 색깔트리 - 1558ms 103mb
  CodeTree/색깔트리/색깔트리_강민정.java
Labels: Java, Hard

#257 solved 미로탈출명령어 - 16.57ms 89.2mb
  Programmers/미로탈출명령어/미로탈출명령어_강민정.java
Labels: Java, Easy

#274 solved 오르막수 - 88ms 12916kb
  Baekjoon/오르막수/오르막수_강민정.java
Labels: Java, Nomal

#279 solved 외벽점검 - 59.67ms 90mb
  Programmers/외벽점검/외벽점검_강민정.java
Labels: Java, Nomal

#301 unsolved 극장좌석 - 96ms,14052kb
  Baekjoon/극장좌석/전수민_극장좌석.java
Labels: Java, Hard

#22 solved RGB 거리 - 124ms 15224kb
  Baekjoon/RGB거리_신유진.java
Labels: Java, Nomal

#51 solved 소수 부분 문자열 - 108ms 14580kb
  Baekjoon/소수부분문자열_신유진.java
Labels: Java, Nomal

#184 solved 최소 비용 구하기 - 356ms 46273mb
  Baekjoon/최소비용구하기/최소비용구하기_신유진.java
Labels: Java, Easy

#213 solved 상어초등학교 - 188ms 22708mb
  Baekjoon/상어초등학교/상어초등학교_신유진.java
Labels: Java, Nomal

#238 solved 석유시추 - 1.89ms 86.5mb
  Programmers/석유시추/석유시추_신유진.java
Labels: Java, Easy

#278 solved 미로 탈출 명령어 - 11.45ms 86.9mb
  Programmers/미로탈출명령어/미로탈출명령어_신유진.java
Labels: Java, Hard

#270 solved 미로 탐색 - 144ms 14432kb
  Baekjoon/미로탐색/미로탐색_신유진.java
Labels: Java, Easy

#176 solved 최소비용구하기 - 520ms 53.008mb
  Baekjoon/최소비용구하기/최소비용구하기_허승경.java
Labels: Java, Nomal

#179 solved 적록색약 - 140ms 17.020mb
  Baekjoon/적록색약/적록색약_허승경.java
Labels: Java, Easy

#200 solved 석유시추 - 100.09ms 74.1mb
  Programmers/석유시추/석유시추_허승경.java
Labels: Java, Nomal

#240 solved 상어초등학교 - 228ms 24.48mb
  Baekjoon/상어초등학교/상어초등학교_허승경.java
Labels: Java, Nomal

#251 solved 미로 탐색 - 124ms 15.54mb
  Baekjoon/미로탐색/미로탐색_허승경.java
Labels: Java, Easy

#252 solved 오르막수 - 120ms 14.916mb
  Baekjoon/오르막수/오르막수_허승경.java
Labels: Java, Nomal

#169 solved 최소비용구하기 - 336ms 50.224mb
  Baekjoon/최소비용구하기/최소비용구하기_이아름.java
Labels: Java, Nomal

#83 solved RGB거리 - 72ms 12.1mb
  Baekjoon/RGB거리_이아름.java
Labels: Java, Nomal

#30 solved n2배열자르기 - 8.45ms 103mb
  Programmers/n2배열자르기_이아름.java
Labels: Java, Hard

#52 solved 행렬테두리회전하기 - 69.20ms 111mb
  Programmers/행렬테두리회전하기_이아름.java
Labels: Java, Easy

#293 solved 극장좌석-0ms 2020kb
  Baekjoon/극장좌석/극장좌석_여동훈.cpp
Labels: C++, Easy

#295 solved 극장좌석 - 100ms 14.164mb
  Baekjoon/극장좌석/극장좌석_김수빈.java
Labels: Java, Easy

#319 unsolved 사라지는발판 - 테스트 미통과
  Programmers/사라지는발판/사라지는발판_김수빈.java
Labels: Java, Nomal

#342 solved 선입선출스케일링 - 1.01ms 4.23ms
  Programmers/선입선출스케줄링/선입선출스케줄링_조유빈.cpp
Labels: C++

#328 solved N으로표현 - 5.08ms 4.2mb
  Programmers/N으로표현/N으로표현_조유빈.cpp
Labels: C++

#317 solved 카잉달력 - 2020kb 48ms
  Baekjoon/카잉달력/카잉달력_조유빈.cpp
Labels: C++

#291 solved 극장좌석 - 2020kb 0ms
  Baekjoon/극장좌석/극장좌석_조유빈.cpp
Labels: C++
